# PyCity School Analysis

In [86]:
import pandas as pd

In [87]:
#files to load
schoolDataToLoad = ("Resources/schools_complete.csv")
studentDataToLoad = ("Resources/students_complete.csv")

In [88]:
#read files and store into pandas df's
schoolData = pd.read_csv(schoolDataToLoad)
studentData = pd.read_csv(studentDataToLoad)

In [89]:
#merge the 2 data data sets into 1
schoolDataMerged = pd.merge(schoolData, studentData, how="left", on=["school_name", "school_name"])
schoolDataMerged.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

# District Summary

In [90]:
#total Schools in district
schoolCount = len(schoolDataMerged["school_name"].unique())
#total students in district
studentCount = schoolDataMerged ["student_name"].count()
studentCount

39170

In [91]:
#total budget for district
totalBudget = schoolDataMerged["budget"].sum()
totalBudget

82932329558

In [92]:
#average math score
averageMathScore = schoolDataMerged["math_score"].mean()
#average reading score
averageReadingScore = schoolDataMerged["reading_score"].mean()

In [93]:
#percent passing math
studentsPassingMath = schoolDataMerged[(schoolDataMerged["math_score"] >= 70)].count()["student_name"]
percentPassingMath = studentsPassingMath/ float(studentCount)*100
percentPassingMath

74.9808526933878

In [94]:
#percent passing reading
studentsPassingReading = schoolDataMerged[(schoolDataMerged["reading_score"] >= 70)].count()["student_name"]
percentPassingReading = studentsPassingReading/ float(studentCount)*100
percentPassingReading

85.80546336482001

In [95]:
#percent passing math and reading
studentsPassingBoth = schoolDataMerged[(schoolDataMerged["math_score"] >= 70 ) & (schoolDataMerged["reading_score"] >= 70 )] .count()["student_name"]
percentPassingBoth = studentsPassingBoth/ float(studentCount)*100
percentPassingBoth

65.17232575950983

In [96]:
districtSummary = pd.DataFrame({
    "Total Schools" : [schoolCount],
    "Total Students" : [studentCount],
    "Total Budget" : [totalBudget],
    "Average Math Score" : [averageMathScore],
    "Average Reading Score" : [averageReadingScore],
    "Percent Passing Math" : [percentPassingMath],
    "Percent Passing Reading" : [percentPassingReading],
    "Percent Passing Math and Reading" : [percentPassingBoth],
    
})

#data formatting
districtSummary["Total Students"] = districtSummary["Total Students"].map("{:,}".format)
districtSummary["Total Budget"] = districtSummary["Total Budget"].map("{:,}".format)
districtSummary["Average Math Score"] = districtSummary["Average Math Score"].map("{:.2f}".format)
districtSummary["Average Reading Score"] = districtSummary["Average Reading Score"].map("{:.2f}".format)
districtSummary["Percent Passing Math"] = districtSummary["Percent Passing Math"].map("{:.2f}%".format)
districtSummary["Percent Passing Reading"] = districtSummary["Percent Passing Reading"].map("{:.2f}%".format)
districtSummary["Percent Passing Math and Reading"] = districtSummary["Percent Passing Math and Reading"].map("{:.2f}%".format)
districtSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Math and Reading
0,15,"39,170","82,932,329,558",78.99,81.88,74.98%,85.81%,65.17%

# School Summary

In [97]:
#school name
schoolDataMerged ["school_name"] .unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [98]:
schoolTypes = schoolData.set_index(["school_name"])["type"]

In [99]:
#Total students Per SChool
studentsPerSchool = schoolDataMerged["school_name"].value_counts()

In [100]:
#total budget per school 
budgetPerSchool = schoolDataMerged.groupby(["school_name"]).mean()["budget"]

In [101]:
budgetPerStudent = budgetPerSchool/studentsPerSchool

In [102]:
#average math scores per school
mathPerSchool =schoolDataMerged.groupby(["school_name"]).mean()["math_score"]
#average reading scores per school
readingPerSchool =schoolDataMerged.groupby(["school_name"]).mean()["reading_score"]

In [103]:
#number of students passing math per school
PassMathPerSchool = schoolDataMerged[(schoolDataMerged["math_score"] >= 70)]
#number of students passing reading  per school
PassReadingPerSchool = schoolDataMerged[(schoolDataMerged["reading_score"] >= 70)]

# number of students passing math and reading per school
PassReadingAndMathPerSchool = schoolDataMerged[(schoolDataMerged["reading_score"] >= 70) &
                                       (schoolDataMerged["math_score"] >= 70)]
PassReadingAndMathPerSchool.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

In [104]:
#percent pasing math per school
schoolsPercentMath = (PassMathPerSchool.groupby(["school_name"]).count()["student_name"] / studentsPerSchool)*100
schoolsPercentMath

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [105]:
#percent pasing reading per school
schoolsPercentReading = (PassReadingPerSchool.groupby(["school_name"]).count()["student_name"] / studentsPerSchool)*100
schoolsPercentReading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [106]:
#percent pasing math and reading per school
schoolsPercentMathReading = (PassReadingAndMathPerSchool.groupby(["school_name"]).count()["student_name"] / studentsPerSchool)*100
schoolsPercentMathReading

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [107]:
# Create data frame for school summery
summaryOfSchoolsData = pd.DataFrame({
    "School Type" : schoolTypes,
    "Total Students" : studentsPerSchool,
    "Total Budget" : budgetPerSchool,
    "Per Student Budget" : budgetPerStudent,
    "Average Math Score" : mathPerSchool,
    "Average Reading Score" : readingPerSchool,
   "% Passing Math" : schoolsPercentMath,
   "% Passing Reading" : schoolsPercentReading,
    "% Passing Math and Reading" : schoolsPercentMathReading
})

#data formatting
summaryOfSchoolsData["Total Students"] = summaryOfSchoolsData["Total Students"].map("{:,}".format)
summaryOfSchoolsData["Total Budget"] = summaryOfSchoolsData["Total Budget"].map("${:,.2f}".format)
summaryOfSchoolsData["Per Student Budget"] = summaryOfSchoolsData["Per Student Budget"].map("${:,.2f}".format)
summaryOfSchoolsData["Average Math Score"] = summaryOfSchoolsData["Average Math Score"].map("{:,.2f}".format)
summaryOfSchoolsData["Average Reading Score"] = summaryOfSchoolsData["Average Reading Score"].map("{:,.2f}".format)
summaryOfSchoolsData["% Passing Math"] = summaryOfSchoolsData["% Passing Math"].map("{:,.2f}%".format)
summaryOfSchoolsData["% Passing Reading"] = summaryOfSchoolsData["% Passing Reading"].map("{:,.2f}%".format)
summaryOfSchoolsData["% Passing Math and Reading"] = summaryOfSchoolsData["% Passing Math and Reading"].map("{:,.2f}%".format)        

summaryOfSchoolsData

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

# Highest Performing Schools

In [108]:
HighPerformingSChools = summaryOfSchoolsData.sort_values(["% Passing Math and Reading"], ascending=False)
HighPerformingSChools.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

# Lowest Performing Schools

In [109]:
LowPerformingSChools = summaryOfSchoolsData.sort_values(["% Passing Math and Reading"], ascending=True)
LowPerformingSChools.head()

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

# Math Scores by Grade

In [110]:
schoolDataMerged.head(2)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61

In [111]:
ninthGraders= schoolDataMerged[(schoolDataMerged["grade"]== "9th")]
tenthGraders= schoolDataMerged[(schoolDataMerged["grade"]== "10th")]
eleventhGraders= schoolDataMerged[(schoolDataMerged["grade"]== "11th")]
twelfthGraders= schoolDataMerged[(schoolDataMerged["grade"]== "12th")]

#group by school name
ninthGraderMathScores = ninthGraders.groupby(["school_name"]).mean()["math_score"]
tenthGraderMathScores = tenthGraders.groupby(["school_name"]).mean()["math_score"]
eleventhGraderMathScores = eleventhGraders.groupby(["school_name"]).mean()["math_score"]
twelfthGraderMathScores = twelfthGraders.groupby(["school_name"]).mean()["math_score"]

MathScoresByGrade = pd.DataFrame({
    "9th" : ninthGraderMathScores,
    "10th" : tenthGraderMathScores,
    "11th" : eleventhGraderMathScores,
    "12th" : twelfthGraderMathScores
})

MathScoresByGrade.index.name = None
MathScoresByGrade["9th"] = MathScoresByGrade["9th"].map("{:.2f}".format)
MathScoresByGrade["10th"] = MathScoresByGrade["10th"].map("{:.2f}".format)
MathScoresByGrade["11th"] = MathScoresByGrade["11th"].map("{:.2f}".format)
MathScoresByGrade["12th"] = MathScoresByGrade["12th"].map("{:.2f}".format)

MathScoresByGrade

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

# Reading Scores by Grade

In [112]:
ninthGraders= schoolDataMerged[(schoolDataMerged["grade"]== "9th")]
tenthGraders= schoolDataMerged[(schoolDataMerged["grade"]== "10th")]
eleventhGraders= schoolDataMerged[(schoolDataMerged["grade"]== "11th")]
twelfthGraders= schoolDataMerged[(schoolDataMerged["grade"]== "12th")]

#group by school name
ninthGraderReadingScores = ninthGraders.groupby(["school_name"]).mean()["reading_score"]
tenthGraderReadingScores = tenthGraders.groupby(["school_name"]).mean()["reading_score"]
eleventhGraderReadingScores = eleventhGraders.groupby(["school_name"]).mean()["reading_score"]
twelfthGraderReadingScores = twelfthGraders.groupby(["school_name"]).mean()["reading_score"]

ReadingScoresByGrade = pd.DataFrame({
    "9th" : ninthGraderReadingScores,
    "10th" : tenthGraderReadingScores,
    "11th" : eleventhGraderReadingScores,
    "12th" : twelfthGraderReadingScores
})

ReadingScoresByGrade.index.name = None
ReadingScoresByGrade["9th"] = ReadingScoresByGrade["9th"].map("{:.2f}".format)
ReadingScoresByGrade["10th"] = ReadingScoresByGrade["10th"].map("{:.2f}".format)
ReadingScoresByGrade["11th"] = ReadingScoresByGrade["11th"].map("{:.2f}".format)
ReadingScoresByGrade["12th"] = ReadingScoresByGrade["12th"].map("{:.2f}".format)

ReadingScoresByGrade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

# Scores by School Spending

In [113]:
#bins
spendingBins = [0, 585, 630, 645, 680]
groupNames = ["<$585", "$585-630", "$630-645", "$645-680"]

In [114]:
schoolSpendingDF = summaryOfSchoolsData
schoolSpendingDF.head(2)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%

In [115]:
schoolSpendingDF["Spending Ranges (Per Student)"] = pd.cut(budgetPerStudent, spendingBins, labels=groupNames)
summaryOfSchoolsData["Spending Ranges (Per Student)"] = pd.cut(budgetPerStudent, spendingBins, labels=groupNames)
schoolSpendingDF

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading,Spending Ranges (Per Student)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [116]:
schoolSpendingCopy = schoolSpendingDF
schoolSpendingCopy.head(2)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading,Spending Ranges (Per Student)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585

In [117]:
#convert back 
schoolSpendingCopy["Average Math Score"] = schoolSpendingCopy["Average Math Score"].astype('float')
schoolSpendingCopy["Average Reading Score"] = schoolSpendingCopy["Average Reading Score"].astype('float')
schoolSpendingCopy["% Passing Math"] = schoolSpendingCopy["% Passing Math"].str.replace("%","").astype('float')
schoolSpendingCopy["% Passing Reading"] = schoolSpendingCopy["% Passing Reading"].str.replace("%","").astype('float')
schoolSpendingCopy["% Passing Math and Reading"] = schoolSpendingCopy["% Passing Math and Reading"].str.replace("%","").astype('float')
schoolSpendingCopy.dtypes

School Type                        object
Total Students                     object
Total Budget                       object
Per Student Budget                 object
Average Math Score                float64
Average Reading Score             float64
% Passing Math                    float64
% Passing Reading                 float64
% Passing Math and Reading        float64
Spending Ranges (Per Student)    category
dtype: object

In [118]:
schoolSpendingCopy.head(3)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading,Spending Ranges (Per Student)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-645

In [119]:
mathSpendingSCores = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
ReadingSpendingSCores = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

mathSpendingPassingSCores = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
ReadingSpendingPassingSCores = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

MathReadingSpendingPassingSCores = schoolSpendingCopy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math and Reading"]
MathReadingSpendingPassingSCores

Spending Ranges (Per Student)
<$585       90.367500
$585-630    81.417500
$630-645    62.857500
$645-680    53.526667
Name: % Passing Math and Reading, dtype: float64

In [120]:
scoresBySpendingSummary = pd.DataFrame({
    "Average Math Score" :  mathSpendingSCores.round(2),
    "Average Reading Score" : ReadingSpendingSCores.round(2),
    "% Passing Math" : mathSpendingPassingSCores.round(2),
    "% Passing Reading" : ReadingSpendingPassingSCores.round(2),
    "% Passing Math and Reading" : MathReadingSpendingPassingSCores.round(2)   
    
})
scoresBySpendingSummary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Math and Reading
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46,96.61,90.37
$585-630,81.90,83.16,87.13,92.72,81.42
$630-645,78.52,81.62,73.48,84.39,62.86
$645-680,77.00,81.03,66.16,81.13,53.53

# Scores by School Size

In [127]:
binSize = [0, 1000, 2000, 5000]
groupNames =["small (<1000)",  "Medium (1000-20100)", "Large (2000-5000)"]

In [132]:
schoolSpendingCopy["Total Students"] = schoolSpendingCopy["Total Students"].str.replace(",","").astype('float')

AttributeError: Can only use .str accessor with string values!

In [ ]:
summaryOfSchoolsData.head(1)

In [ ]:
#categorize spending based on bins
summaryOfSchoolsData["SChool Size"] = pd.cut(schoolSpendingCopy["Total Students"], binSize, labels=groupNames)
summaryOfSchoolsData

In [129]:
#categorize spending based on bins